<% if params[:month] %>
  <h1> Articles in <%= params[:month] %></h1>
<% elsif params[:popularity] %>
  <h1> Popular Articles</h1>
<% else %>
  <h1>All Articles</h1>
<% end %>

<ul id="articles">
  <% @articles.each do |article| %>
  <li>
    <%= link_to article.title, article_path(article),
    class: 'article_title', id: "article_#{article.id}"%>
  </li>
  <% end %>
</ul>

<%= link_to "Create a New Article", new_article_path, class: 'new_article' %>
